<!--
  Copyright (c) Petr Panteleyev. All rights reserved.
  Licensed under the BSD license. See LICENSE file in the project root for full license information.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Money Manager Persistence Unit Tests">
    <test name="XML">
        <classes>
            <class name="org.panteleyev.money.xml.TestXsdNegative"/>
        </classes>
    </test>
</suite>