/*
 Copyright © 2019-2022 Petr Panteleyev <petr@panteleyev.org>
 SPDX-License-Identifier: BSD-2-Clause
 */
table, th, td {
    border: 1px solid black;
    border-spacing: 0;
}

th, td {
    padding: 5;
    font-size: small;
}

td.amount {
    text-align: right;
}
