<!--
  Copyright (c) Petr Panteleyev. All rights reserved.
  Licensed under the BSD license. See LICENSE file in the project root for full license information.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Money Manager Persistence Tests">
    <test name="Persistence">
        <classes>
            <class name="org.panteleyev.money.persistence.TestFreshFile"/>
            <class name="org.panteleyev.money.persistence.TestMoneyDAO"/>
        </classes>
    </test>
    <test name="XML">
        <classes>
            <class name="org.panteleyev.money.xml.TestImportExport"/>
            <class name="org.panteleyev.money.xml.TestImportRecords"/>
        </classes>
    </test>
</suite>