<!--
  Copyright (c) Petr Panteleyev. All rights reserved.
  Licensed under the BSD license. See LICENSE file in the project root for full license information.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Money Manager Model Unit Tests">
    <test name="Model">
        <classes>
            <class name="org.panteleyev.money.model.TestAccount"/>
            <class name="org.panteleyev.money.model.TestCategory"/>
            <class name="org.panteleyev.money.model.TestContact"/>
            <class name="org.panteleyev.money.model.TestCurrency"/>
            <class name="org.panteleyev.money.model.TestTransaction"/>
            <class name="org.panteleyev.money.model.TransactionDetailTest"/>
        </classes>
    </test>
</suite>